body {
	background-color: black;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
	border: outset 3px white;
	padding: 0 20px 0 20px;
}


form {
	color: white;
}
hr {border-color: black;}

button {
	margin-top: 10px;
}
#heading {
	background: black;
}
h1{
	color: #1665FF;
	font-family: Comic Sans MS, Comic Sans, cursive;
	text-align: center;

}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	text-align: center;
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}

.close {
	color: #2BA0FF;
	float: right;
	font-size: 30px;
	font-weight: bold;
}
.close:hover,
.close:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: lightblue;
}
.modal-body {padding: 2px 16px;}


